:root {
  --color-primary: #ffffff;
  --color-background-blue: #008bfe;
  --font: "Roboto", sans-serif;
  --color-background-light: #cce8ff;
  --color-text-blue: #008bfe;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: var(--color-bg);

  /* display: block; */

  /* border: 1px solid black; */
  /* padding: 10px; */
}
